.aboutWrapper {
  position: relative;

  .twoUpGrid {
    display: grid;
    grid-template-columns: 40% 60%;

    @media (width <= 820px) {
      grid-template-columns: 1fr;
    }
  }

  .imageWrapper {
    display: inline-block;
    max-width: 100%;

    @media (width <= 820px) {
      display: none;
      max-width: 0;
    }

    img {
      opacity: 0.6;
      width: 100%;

      &:hover {
        opacity: 0.85;
      }
    }
  }

  .aboutContent {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 4.8rem;

    @media (width < 984px) {
      margin-block-start: 0;
    }
  }

  p {
    line-height: 1.8;
    margin: 0;

    + p {
      padding-block-start: 2rem;
    }
  }
}