.aboutWrapper {
  display: flex;
  position: relative;

  .twoUpGrid {
    display: grid;
    grid-template-columns: 45% 55%;

    @media (width <=820px) {
      grid-template-columns: 1fr;
      margin-block-start: 0;
    }
  }

  .imageWrapper {
    display: inline-block;
    max-width: 100%;

    @media (width <=820px) {
      display: none;
      max-width: 0;
    }

    img {
      opacity: 0.85;
      width: 100%;
    }
  }

  .aboutContent {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 4rem;
  }

  p {
    line-height: 1.8;
    margin: 0;

    +p {
      padding-block-start: 2rem;
    }
  }
}