:root {
  --color-bg-primary: hsl(246, 30%, 13%);
  --color-text-primary: hsl(276, 82%, 89%);
  --color-text-secondary: hsl(277, 13%, 73%);
  --color-header-bg: hsla(250, 33%, 25%, 0.3);
  --color-link-primary: hsl(271, 100%, 94%);
  --color-link-primary--hover: hsl(267, 95%, 76%);
  --color-link--active: hsl(267, 95%, 76%);
  --color-page-title: hsl(267, 95%, 76%);
  --color-quote-border: hsl(267, 95%, 68%);
  /* --color-modal-bg: hsl(240, 5%, 18%); */
}

/*
#19172b
#2A2841
#2c2a4c
#524E74
#5a49a7
#6756bd
#6354ab // svg hightlight color
#9E81C9
#a560fb
#C67EFF
#bc88fc
#8543db
*/
/* --color-accent-primary: hsl(266, 68%, 56%); */
/* --color-accent-secondary: hsl(267, 95%, 76%); */
/* --color-accent-tertiary: hsl(307, 100%, 50%); */
/* --color-border-primary: hsl(240, 5%, 18%); */