:root {
  --color-white: hsl(0, 0%, 100%);
  --color-bg-primary: hsl(246, 30%, 13%);
  --color-bg-secondary: hsl(244, 29%, 23%);
  --color-bg--active: hsl(250, 33%, 25%);
  --color-images-primary: hsl(245, 24%, 21%);
  --color-text-primary: hsl(240, 100%, 98%);
  --color-text-secondary: hsl(277, 13%, 73%);
  --color-accent-primary: hsl(266, 68%, 56%);
  --color-accent-secondary: hsl(267, 95%, 76%);
  --color-accent-tertiary: hsla(307, 100%, 50%, 0.65);
  --color-border-primary: hsl(240, 5%, 18%);
  --color-header-bg: hsla(246, 32%, 13%, 0.8);
  --color-link-primary: hsl(240, 100%, 98%);
  --color-link--active: var(--color-accent-secondary);
  --color-page-title: var(--color-accent-tertiary);
  --color-quote-border: var(--color-accent-primary);
}


/*
#19172b
#2A2841
#2c2a4c
#524E74
#8543db
#A560FB
#C67EFF
#bc88fc
*/
