:root {
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);
  --color-bg-primary: hsl(240, 6%, 10%);
  --color-text-primary: hsl(210, 32%, 95%);
  --color-text-secondary: hsl(209, 11%, 61%);
  --color-accent-primary: hsl(300, 100%, 50%);
  --color-accent-secondary: hsl(174, 96%, 44%);
  --color-accent-tertiary: hsl(267, 95%, 76%);
  --color-accent-quaternary: hsl(28, 90%, 64%);
  --color-border-primary: hsl(240, 5%, 18%);
  --color-header-bg: hsla(240, 6%, 10%, 0.8);
  --color-link-primary: hsl(0, 0%, 98%);
  --color-link--active: hsl(174, 96%, 44%);
  --color-page-title: var(--color-accent-tertiary);
  --color-quote-border: hsl(0, 0%, 28%);
}
