// ---------------------------------------------------------------------------
// Fonts

$relative-font-sizing: false;
$base-px: 14;
$base-font-size: 87.5%; 
$baseline: 1em;

$normal: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$light:300;
$reg:400;
$semibold:600;
$bold:700;
$extrabold:800;

// ---------------------------------------------------------------------------
// Colors

$headerBg: #f3f6f8;
$white: #ffffff;
$blue: #0066b1;
$linkBlue: #339ce6;
$footerBlue: #004b8d;
$darkBlue: #576b81;


// ---------------------------------------------------------------------------
// Default Grid - Desktop

$total-columns: 12;
$gutter-width: 20px;
$inner-padding: 0px;
$grid-padding: $gutter-width;
$column-width: (100 /$total-columns) * 1%;
$page-margin: 9%;
$content-max-width: 1028px;


// ---------------------------------------------------------------------------
// Breakpoints

$small-screen: small-screen 0 720px 0 1024px;
$medium-screen: medium-screen 721px 1023px 881px 1024px;
$odd-screen: odd-screen 721px 1023px 701px 880px;
$large-screen: large-screen 1024px 1280px;
$xlarge-screen: xlarge-screen 1281px;
