@import "base";
@import "mixins";
@import "compass/css3";
@import "compass/reset";

html{
    margin: 0;
    padding: 0;
    font-size: 14px;
    overflow-x: hidden;
    width: 100%;
    height:100%;
    min-height:100%;
}
body {
    overflow-x: hidden;
    font-size: $base-font-size; /* sets base to 14px */
    font-weight: $reg;
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    min-height:100%;
}

//  -----------------------------
//  TYPOGRAPHY
//  -----------------------------

    @font-face { 
        font-family: AkzidenzGrotesk-Light; 
        src: url('../fonts/AkzidenzGroteskBE-Light.otf'); 
    } 
    @font-face {
        font-family: AkzidenzGrotesk-Md; 
        src: url('../fonts/AkzidenzGroteskBE-Md.otf'); 
    }
    h1{
        font-size: 46px;
        text-align: center;
        font-weight: 300;
        line-height: 52px;

        span{
            @include font-family-semibold;
            font-weight: 700;

            sup{
                font-size: 15px;
                position: relative;
                top: -10px;
            }
        }
    }
    a, label{ font-family: $normal; }
    p, h1, h2, h3, h4 {
        color: #fff;
        @include font-family;
    }
    p.subtext{
        padding-top: 20px;
        font-size: 20px;
        @include font-family;
        text-align: center;
        color: #FFF;
    }
    a, a:hover, a:active, a:focus, a:visited{
        text-decoration: none;
        color: $linkBlue;
    }
    img {
        display: block;
        width: 100%;
    }
    input, textarea, select {
        font-family: inherit;
        font-size: 1em;
        color: #666;
    }
    input[type=text]::-ms-clear {
        width: 0;
        height: 0;
        display: none;
    }
    sup{ vertical-align: super !important; }
    strong{ font-weight: $semibold; }


//  -----------------------------
//  GLOBAL ELEMENTS
//  -----------------------------

    .btn.btn-green{
        font-weight: bold;
        background: rgb(66,183,87); /* Old browsers */
        background: -moz-linear-gradient(top,  rgba(66,183,87,1) 0%, rgba(43,168,67,1) 1%, rgba(28,143,50,1) 99%, rgba(15,98,31,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(66,183,87,1)), color-stop(1%,rgba(43,168,67,1)), color-stop(99%,rgba(28,143,50,1)), color-stop(100%,rgba(15,98,31,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(66,183,87,1) 0%,rgba(43,168,67,1) 1%,rgba(28,143,50,1) 99%,rgba(15,98,31,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(66,183,87,1) 0%,rgba(43,168,67,1) 1%,rgba(28,143,50,1) 99%,rgba(15,98,31,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(66,183,87,1) 0%,rgba(43,168,67,1) 1%,rgba(28,143,50,1) 99%,rgba(15,98,31,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(66,183,87,1) 0%,rgba(43,168,67,1) 1%,rgba(28,143,50,1) 99%,rgba(15,98,31,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#42b757', endColorstr='#0f621f',GradientType=0 ); /* IE6-9 */
        font-size: 13px;
        border-radius: 2px !important;
        color: $white;
    }
    .btn-green:hover{
        color: $white !important;
        background: #2ba843; /* Old browsers */
        background: -moz-linear-gradient(top,  #1c8f32 0%, #2ba843 97%, #0f621f 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1c8f32), color-stop(97%,#2ba843), color-stop(100%,#0f621f)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #2ba843 0%,#1c8f32 97%,#0f621f 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #1c8f32 0%,#2ba843 97%,#0f621f 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #1c8f32 0%,#2ba843 97%,#0f621f 100%); /* IE10+ */
        background: linear-gradient(to bottom, #1c8f32 0%,#2ba843 97%,#0f621f 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f621f', endColorstr='#2ba843',GradientType=0 ); /* IE6-9 */
    }
    .btn-green:active{ color: $white; }


//  -----------------------------
//  BASE
//  -----------------------------

    *, 
    *:after, 
    *:before {
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }
    .full-bleed{
        width: 100%;
        display: block;
    }
    section{
        @include content-layout;
    }

//  -----------------------------
//  HEADER
//  -----------------------------

header{
    height: 41px;
    width: 100%;
    background: #f3f6f8;
    position: relative;
    z-index: 9999;

    a, a:hover, a:active, a:focus, a:visited{
        color: $blue;
        text-decoration: none;
    }
    .goback{
        position: absolute;
        top: 10px;
        left: 20px;
        color: $blue;
        font-family: $normal;
        cursor: pointer;

        .arrow_left {
            margin-right: 5px;
            width: 0; 
            height: 0; 
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent; 
            border-right: 5px solid $blue; 
            display: inline-block;
        }
    }
    .logo {
        background: url('../../images/mobile/logo_mobile.png') top center no-repeat;
        background-size: 97px 18px;
        width: 97px;
        height: 18px;
        position: relative;
        left: 50%;
        margin-left: -48px;
        top: 10px;
    }
    .login {
        position: absolute;
        top: 10px;
        right: 20px;
    }
}

//  -----------------------------
//  PAGE ELEMENTS
//  -----------------------------

// fix wierd issue with text not showing on top of slide img
.slick-slide > img {
    position: relative;
    z-index: -1;
}
.carousel {
    .slick-dots {
        margin-left: -65px;

        li {
            margin: 0 10px 0 0;
        }
        .blocker {
            height: 18px;
            width: 150px;
            background: transparent;
            position: absolute;
            top: 0;
            left: 0;
        }
    }    
}

 section.carousel{
    width: 100%;
    height: 100vh;
    margin-top: -41px;

    .footer{
        background: rgba(255,255,255,.92);
        width: 100%;
        height: 130px;
        position: fixed;
        -webkit-backface-visibility: hidden;
        bottom: 0;
        left: 0;
        z-index: 9999;
        text-align: center;
        padding: 18px 25px 40px;

        p.title{
            @include font-family-semibold;
            font-weight: 500;
            font-size: 20px;
            color: $darkBlue;
            padding-bottom: 10px;
            margin: 0;
        }
        p{
            @include font-family;
            font-size: 13px;
            line-height: 15px;
            color: $darkBlue;
            margin: 0;
            padding: 0;
        }
    }
    .slide.one .footer{
        height: 70px;
    }
    .slide{
        width: 100%;
        height: 100vh;
        padding-top: 42px;

        h1{
            padding-top: 17px;
            font-size: 25px;
            color: #fff;
            @include font-family;
            text-align: center;
            font-weight: 300;
            line-height: 27px;
            position: relative;
            margin: 0;

            span{
                @include font-family-semibold;
                font-weight: 500;
            }
        }
        h3{
            padding-top: 7  px;
            font-size: 13px;
            @include font-family;
            text-align: center;
            color: #FFF;
            margin: 0;
        }
        .iphone-wrapper {
            background: url('../../images/mobile/iphone_full2x.png') top center no-repeat;
            background-size: 244px 460px;
            width: 244px;
            height: 460px;
            margin: 20px auto 0;

            .iphone-frame-blocker {
                height: 480px;
                top: 49px;
                position: absolute;
                background: transparent;
                /* Needs to have a little bit of color */
                background: rgba(255,255,255,0.01);
                width: 245px;
                z-index: 10;
            }
            .iphone-frame {
                position: relative;
                top: 48px;
                height: 342px;
                overflow: auto;

                .iphone-bg {
                    background: top center no-repeat;
                    background-size: 186px 843px;
                    width: 186px; 
                    height: 843px;
                    border: 0px; 
                    margin-top: 0;
                    margin-left: 29px;
                    position: relative;
                }
                .iphone-bg.four{
                    top: -282px;
                }
            }
        }
    }

    .slide.find-inspiration, .slide.book-with-ease {
        .iphone-wrapper {
            .iphone-frame {
                overflow: visible;
            }
        }
    }

    .slide.wood {
        background: url('../../images/mobile/wood_bg_mobile.jpg');
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .slide.five{
        background-position: center top;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .slide.one{
        
        .iphone{
            height: 100vh;
            width: 221px;
            margin: 20px auto 0;
            background: no-repeat center top;
            background-size: 221px;
        }
    }
    .slide.two{

        .popout_wrapper{
            width: 186px;
            position: relative;
            margin: 0 auto;

            .popout_nav{
                display: none;
                background: 0 0 no-repeat;
                width: 186px;
                height: 151px;
                background-size: 100%;
                position: absolute;
                top: 49px;
                left: 0;
                z-index: 999;
            }
        }
    }
    
    .slide.six{
        background: url('../../images/mobile/blue_bg_mobile.jpg');
        background-position: center top;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 9999;

        .top {   
            img {
                margin-top: 20px;
                width: 87%;
            }
        }
        .bottom {
            width: 100%;
            left: 0;
            font-size: 20px;
            line-height: 22px;
            color: #fff;
            text-align: center;
            @include font-family;
            font-weight: 300;
            padding: 10px 30px 25px 30px;

            p {
                padding: 10px 0;
            }
            .login_bottom{
                margin: 0 auto;
                padding: 0 30px;

                .btn.btn-green{
                    width: 100%;
                }
            }
        }
    }
}

@media (max-height: 1024px) {
    .no-minimal-ui-mode {
        section.carousel {
            .slick-dots {
                bottom: 40px;
            }
            .footer {
                bottom: 20px;
            }
        }
    }
}

@media (max-height: 630px) {
    .no-minimal-ui-mode {
        overflow: hidden;

        body {
            overflow: hidden;
        }
        section.carousel {
            .slick-dots {
                bottom: 80px;
            }
            .footer {
                bottom: 60px;
            }
        }
    }
}

@media screen and (min-height: 460px) and (max-height: 560px) {
    section.carousel {
        .slide.six {
            .top {   
                img {
                     width: 72%;
                }
            }
        }
    }
}

@media screen and (min-height: 380px) and (max-height: 459px)  {
    section.carousel {
        .slide.six .top {
            img {
                margin-top: 10px;
                width: 62%;
            }
        }
        .slide.six .bottom {
            p {
                padding: 0 0 7px 0;
            }
        }
    }
}

@media screen and (min-height: 320px) and (max-height: 379px)  {
    section.carousel {
        .slide.six .top {
            img {
                margin-top: 10px;
                width: 50%;
            }
        }
        .slide.six .bottom {
            p {
                padding: 0 0 7px 0;
            }
        }
    }
}

@media (orientation:landscape) {
    body {
        background: url('../../images/mobile/rotate-message.png') center center no-repeat;
        background-size: 50%;
        height: 300px;
        overflow: hidden;

        section, header {
            position: absolute;
            left: -999em;
        }
    }
}