@import "base";
@import "mixins";

@import "compass/css3";
@import "compass/reset";

*{
	margin: 0;
}
body, html{
	height: 100%;
	width: 100%;
}

.header{
	height: 38px;
	width: 100vw;
	background: $headerBg;
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	z-index: 9999;

	.inner{
		width: 1000px;
		margin: 0 auto;

		.logo{
			background: url('../../images/logo.jpg') 0 0 no-repeat;
			width: 104px;
			height: 25px;
			position: relative;
			top: 8px;
			left: 0;
			display: inline-block;
		}
		.back{
			position: relative;
			top: -1px;
			left: 22px;
			width: 100px;
			color: $blue;
			@include font-family;
			display: inline-block;

			.arrow_left{
				width: 0; 
				height: 0; 
				border-top: 5px solid transparent;
				border-bottom: 5px solid transparent; 
				border-right: 5px solid $blue; 
				display: inline-block;
			}

			a, a:hover, a:active, a:focus, a:visited{
				color: $blue;
				font-size: 0.85em;
				text-decoration: none;
			}
		}
	}
}
.content{
	min-height: 100%;
	margin-bottom: -38px;
	background: url('../../images/wood_bg_desktop.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	.wrapper{
		background: url('../../images/welcome/desktop_items.png') no-repeat;
		height: 316px;
		width: 333px;
		position: absolute;
		top: 38px;
		right: 0;
	}
	h1{
		padding-top: 90px;
		font-size: 46px;
		color: #fff;
		@include font-family;
		text-align: center;
		font-weight: 300;
		line-height: 52px;
		position: relative;
		text-shadow: 1px 1px 1px #757575;

		span{
			@include font-family-semibold;
			font-weight: 700;

			sup{
				font-size: 15px;
				position: relative;
				top: -21px;
			}
		}
	}
	p.subtext{
		padding-top: 20px;
		font-size: 20px;
		@include font-family;
		text-align: center;
		color: #FFF;
		text-shadow: 1px 1px 1px #757575;
	}
	.coming_soon{
		height: 100vh;
		min-height: 775px;
		max-height: 985px;
		background: url('../../images/welcome/ipad.png') center top no-repeat;
		width: 1060px;
		margin: 0 auto;

		p{
			@include font-family;
			color: #fff;
			font-size: 18px;
			line-height: 26px;
			padding-top: 10px;
			text-shadow: 1px 1px 1px #757575;
		}
		p.heading{
			@include font-family-semibold;
			font-size: 24px;
			line-height: 28px;
		}
		.left{
			float: left;
			height: 100%;
			width: 172px;
			position: relative;
			left: 25px;

			.earnings{
				position: relative;
				top: 371px;
			}
		}
		.center{
			float: left;
			width: 675px;
			height: 775px;
		}
		.right{
			float: left;
			height: 100%;
			width: 207px;
			position: relative;
			left: 15px;

			.explore{
				position: relative;
				top: 188px;
			}
			.faves{
				position: relative;
				top: 427px;
			}
		}
	}
}
.content:after{
	content: "";
	display: block;
}
.footer, .content:after{
	height: 38px;
}
.footer{
	width: 100vw;
	background: $footerBlue;
	color: #fff;
	font-size: 0.85em;

	.inside{
		width: 1000px;
		margin: 0 auto;
		@include font-family;
		position: relative;
		top: 11px;

		.copyright{
			float: left;
			width: 300px;
			display: inline-block;
		}
		.legal_links{
			display: inline-block;
			float: right;
			width: 500px;
			text-align: right;

			a, a:hover, a:active, a:focus, a:visited{
				color: $white;
				padding-right: 35px;
				text-decoration: none;
			}
		}
		.legal_links a:last-child{
			padding-right: 0;
		}
	}
}

/* 
	-----------------------------  
	@medium screen  col width 
	----------------------------- 
*/

@media only screen and (min-width : 768px) and (max-width : 1060px) {

	.content{
		min-height: 100%;
		background: url('../../images/tablet/wood_bg.jpg') no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	
		.wrapper{
			background-size: 250px;
			height: 237px;
			width: 250px;
		}
		h1{
			font-size: 40px;
			line-height: 42px;
			padding-top: 105px;
		}
		.coming_soon{
			min-height: 550px;
			max-height: 650px;
			background: url('../../images/welcome/ipad_tablet.png') center top no-repeat;
			background-size: 630px;
			width: 100vw;
			margin: 0 auto;

			p.heading{
				font-size: 20px;
			}
			p{
				font-size: 16px;
				line-height: 22px;
				padding-top: 5px;
			}
			.left{
				width: 25%;
				left: 0;

				.earnings{
					top: 230px;
					position: relative;
					right: -27px;
				}
			}
			.center{
				float: left;
				width: 50%;
				height: 550px;
			}
			.right{
				float: left;
				height: 100%;
				width: 25%;
				position: relative;
				left: 15px;

				.explore{
					position: relative;
					top: 116px;
				}
				.faves{
					position: relative;
					top: 225px;
				}
			}
		}
	}
	.footer .inside{
		width: 738px;
		padding: 0 15px;

		.legal_links{
			width: 375px;
		}
	}
}
