.contactWrapper {
  position: relative;

  .twoUpGrid {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr;
    margin-block-start: 4rem;

    @media (width <=820px) {
      grid-template-columns: 1fr;
      margin-block-start: 0;
    }
  }

  .imageWrapper {
    display: inline-block;
    max-width: 100%;

    @media (width <=820px) {
      display: none;
      max-width: 0;
    }

    img {
      opacity: 0.85;
      width: 100%;
    }
  }

  .contactContentWrapper {
    align-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-block-start: 20%;
    margin-inline-start: -2rem;
  }

  .row {
    align-items: center;
    display: flex;

    +.row {
      margin-block-start: 1.8rem;
    }
  }

  .contactIcon {
    align-items: center;
    display: flex;
  }

  .contactItems {
    display: flex;
    z-index: 2;

    svg {
      height: 2.4rem;
      margin-inline-end: 0.8rem;
      width: 2.4rem;
    }

    a {
      color: var(--color-link-primary);
      font-size: 2.4rem;
      font-weight: 400;

      @media (width > 820px) and (width < 984px) {
        font-size: 2vw;
      }

      @media (width <=820px) {
        font-size: 4vw;
      }
    }

    &:hover {

      a {
        color: var(--color-link-primary--hover);
      }

      .bgFill {
        fill: var(--color-link-primary--hover);
      }
    }
  }
}