.logosWrapper {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: center;
  /* margin-block-start: 4rem; */

  .logoBox {
    display: flex;
    justify-content: center;
    transition: opacity 0.3s;

    &:hover {

      img {
        opacity: 0.8;
      }
    }
  }

  .companyLogo {
    height: 6rem;
    max-width: 26rem;
    width: auto;
  }
}