.logosWrapper {
  width: 100vw;

  .logoBox {
    display: flex;
    justify-content: center;
    transition: opacity 0.3s;
  }

  .companyLogo {
    height: 4rem;
    max-width: 20rem;
    width: auto;
  }
}