.skillsWrapper {

  .skills {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: center;
    margin-block-start: 4rem;
  }

  .skill {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 12rem;

    img {
      height: 100%;
      max-height: 8rem;
      max-width: 8rem;
      width: 100%;
    }

    .skillImage {
      align-items: center;
      display: flex;
      height: 8rem;
      justify-content: center;

      &:hover {

        img {
          filter: contrast(180%) brightness(3);
        }
      }
    }

    .skillName {
      color: var(--color-text-secondary);
      font-size: 1.4rem;
      margin-block-start: 0.8rem;
    }
  }

  .postscript {
    color: var(--color-text-secondary);
    display: flex;
    justify-content: end;
    font-size: 1.4rem;
    margin-top: 4rem;
  }
}
