@import "base"; 
@import "mixins";
@import "compass/css3";
@import "compass/reset";

html{
	margin: 0;
	padding: 0;
	font-size: 14px;
	overflow: hidden;
	width: 100%;
}
body {
	overflow: hidden;
  	font-size: $base-font-size; /* sets base to 14px */
  	font-weight: $reg;
  	-webkit-tap-highlight-color: rgba(0,0,0,0); 
}

//	-----------------------------
//	TYPOGRAPHY
//	-----------------------------

	@font-face { 
		font-family: AkzidenzGrotesk-Light; 
		src: url('../fonts/AkzidenzGroteskBE-Light.otf'); 
	} 
	@font-face {
		font-family: AkzidenzGrotesk-Md; 
		src: url('../fonts/AkzidenzGroteskBE-Md.otf'); 
	}
	h1{
		font-size: 46px;
		text-align: center;
		font-weight: 300;
		line-height: 52px;

		span{
			@include font-family-semibold;
			font-weight: 700;

			sup{
				font-size: 15px;
				position: relative;
				top: -10px;
			}
		}
	}
	a, label{ font-family: $normal; }
	p, h1, h2, h3, h4 {
		color: #fff;
		@include font-family;
	}
	p.subtext{
		padding-top: 20px;
		font-size: 20px;
		@include font-family;
		text-align: center;
		color: #FFF;
		text-shadow: 1px 1px 1px #757575;
	}
	a, a:hover, a:active, a:focus, a:visited{
		text-decoration: none;
		color: $linkBlue;
	}
	img {
		display: block;
		width: 100%;
	}
	input, textarea, select {
		font-family: inherit;
		font-size: 1em;
		color: #666;
	}
	input[type=text]::-ms-clear {
	    width: 0;
	    height: 0;
	    display: none;
	}
	sup{ vertical-align: super !important; }
	strong{ font-weight: $semibold; }

//	-----------------------------
//	BASE
//	-----------------------------

	*, 
	*:after, 
	*:before {
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
				box-sizing: border-box;
	}

	.skrollable .skrollable{
		position: relative;
	}

//	-----------------------------
// 	GLOBAL ELEMENTS
//	-----------------------------
	.btn-white{
		color: $linkBlue;
		font-weight: bold;
		font-size: 14px;
		text-align: center;
		border: #cccfd1 1px solid;
		padding: 9px 39px;
		@include border-radius(3px);
		@include box-shadow(rgba(188, 188, 188, .5)  -1px 1px 1px  );
		background: #fefefe; /* Old browsers */
		background: -moz-linear-gradient(top,  #fefefe 31%, #edecec 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(31%,#fefefe), color-stop(100%,#edecec)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #fefefe 31%,#edecec 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #fefefe 31%,#edecec 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #fefefe 31%,#edecec 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #fefefe 31%,#edecec 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#edecec',GradientType=0 ); /* IE6-9 */
	}
	.btn-white:hover{
		background: #fefefe; /* Old browsers */
		background: -moz-linear-gradient(top,  #edecec 31%, #fefefe 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(31%,#edecec), color-stop(100%,#fefefe)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #edecec 31%,#fefefe 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #edecec 31%,#fefefe 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #edecec 31%,#fefefe 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #edecec 31%,#fefefe 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edecec', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
		text-decoration: none;
	}

	.btn.btn-green{
		font-weight: bold;
		background: rgb(66,183,87); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(66,183,87,1) 0%, rgba(43,168,67,1) 1%, rgba(28,143,50,1) 99%, rgba(15,98,31,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(66,183,87,1)), color-stop(1%,rgba(43,168,67,1)), color-stop(99%,rgba(28,143,50,1)), color-stop(100%,rgba(15,98,31,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(66,183,87,1) 0%,rgba(43,168,67,1) 1%,rgba(28,143,50,1) 99%,rgba(15,98,31,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(66,183,87,1) 0%,rgba(43,168,67,1) 1%,rgba(28,143,50,1) 99%,rgba(15,98,31,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(66,183,87,1) 0%,rgba(43,168,67,1) 1%,rgba(28,143,50,1) 99%,rgba(15,98,31,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(66,183,87,1) 0%,rgba(43,168,67,1) 1%,rgba(28,143,50,1) 99%,rgba(15,98,31,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#42b757', endColorstr='#0f621f',GradientType=0 ); /* IE6-9 */
		@include pxtoem(14);
		border-radius: 2px !important;
		color: $white;
	}
	.btn-green:hover{
		color: $white !important;
		background: #2ba843; /* Old browsers */
		background: -moz-linear-gradient(top,  #1c8f32 0%, #2ba843 97%, #0f621f 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1c8f32), color-stop(97%,#2ba843), color-stop(100%,#0f621f)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #2ba843 0%,#1c8f32 97%,#0f621f 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #1c8f32 0%,#2ba843 97%,#0f621f 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #1c8f32 0%,#2ba843 97%,#0f621f 100%); /* IE10+ */
		background: linear-gradient(to bottom, #1c8f32 0%,#2ba843 97%,#0f621f 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f621f', endColorstr='#2ba843',GradientType=0 ); /* IE6-9 */
	}
	.btn-green:active{ color: $white; }
	
//	-----------------------------
// 	HEADER
//	-----------------------------

	header{
		height: 60px;
		width: 100%;
		background: $headerBg;
		position: fixed;
		top: 0;
		left: 0;
		margin: 0;
		padding: 0;
		z-index: 9999;

		.inner{
			width: 1000px;
			margin: 0 auto;

			.logo{
				background: url('../../images/logo.png') 0 0 no-repeat;
				width: 143px;
				height: 27px;
				position: relative;
				top: 17px;
				left: 0;
				display: inline-block;
			}

			ul {
				float: right;
				position: relative;
				top: 20px;

				.greeting {
					border-right: 1px solid #ccced0;
					margin-right: 15px;
					padding-right: 15px;
				}
				li {
					font-family: arial;
					line-height: 20px;
					display: inline-block;
					font-size: 13px;

					a {
						color: #0066b1;

						&:hover {
							text-decoration: underline;
						}
					}
				}
			}

			.back{
				position: relative;
				top: 8px;
				left: 32px;
				width: 100px;
				color: $blue;
				font-size: 13px;
				/*@include font-family;*/
				display: inline-block;

				.arrow_left{
					width: 0; 
					height: 0; 
					border-top: 4px solid transparent;
					border-bottom: 4px solid transparent; 
					border-right: 4px solid $blue; 
					display: inline-block;
					position: relative;
					top: -1px;
					margin-right: 3px;
				}
				a, a:hover, a:active, a:focus, a:visited{
					color: $blue;
				}
				a:hover {
					text-decoration: underline;
				}
			}
			.login_nav{
				float: right;
				width: 120px;

				.btn.btn-white{
					position: relative;
					top: 7px;
					width: 100%;
					height: 40px;
					padding: 9px 15px;
					border: #cccfd1 1px solid;
				}
			}
		}
	}

//	-----------------------------
//	NAVIGATION
//	-----------------------------

	nav#primary {
		z-index: 9999;
		position: fixed;
		top: 50%;
		right: 20px;
		margin-top: -60px;
		
		li {
			position:relative;
			height: 20px;
		}
		a {
			display: block;
			width: 10px;
			height: 20px;
			text-indent: -9999px;
			background: transparent url('../../images/nav_unactive.png') 0 0 no-repeat;
			cursor: default;
		}
		a.active {
			background: transparent url('../../images/nav_active.png') 0 0 no-repeat;
		}
	}


//	-----------------------------
//	PAGE ELEMENTS
//	-----------------------------

section {
	overflow: hidden;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}

section.wood {
	background: url("../../images/wood_bg_desktop.jpg") no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	top: 0;

    .wood-elements-wrap {
		width: 100%;
		position: relative;
		margin: auto;
		z-index: 1;
	}
	.wood_elements {
		background: url('../../images/desktop_items.png') no-repeat;
		height: 379px;
		width: 476px;
		position: absolute;
		right: 0;
		top: 60px;
		z-index: 999;
	}
	.placeholder{
    	width: 731px;
    	height: 601px;
    	position: absolute;
    	bottom: 0;
    	left: 50%;
    	
    	.screenshot{
    		background: url('../../images/ipad_placeholder.png') bottom center no-repeat;
    		position: relative;
    		width: 750px;
			height: 601px;
    	}
    }
	.video_holder {
		display: block;
		width: 750px;
		height: 601px;
		position: absolute;
		bottom: -2px;
		left: 50%;
		margin-left: -580px;

		-webkit-transition: all 800ms cubic-bezier(0,0,.25,1);  				
		-moz-transition: all 800ms cubic-bezier(0,0,.25,1);  				
		transition: all 800ms cubic-bezier(0,0,.25,1);
		

		.video {
			background: url('../../images/ipad_video_bg.png') center bottom no-repeat;
			position: relative;
			width: 750px;
			height: 601px;

			#ipadvideo{
				position: relative;
				top: 15px;
				left: 111px;
			}

			.static-state {
				opacity: 0;
				width: auto;
				position: absolute;
				left: 137px;
				top: 70px;
				z-index: 5;
				-webkit-transform: translateZ(0);
			}
		}
	}

	#slide-0 {
		.video_holder {
			margin-left: -365px;
		}
	}
}

section.travel {
	background-image: url("../../images/travel_bg.jpg");
	top: 100%;
	background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}
section.blue {
	background-image: url("../../images/blue_bg.jpg");
	top: 100%;
	background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

    h1 {
    	padding: 0 20px;
    }
    .unsupported-msg {
    	display: none;	
	}
	.default-msg {
		display: block;
	}
    .final_footer{
		width: 500px;
		float: right;
		position: absolute;
		right: 10px;
		bottom: 10px;
		color: #fff;
		@include font-family;
		font-size: 14px;

		a, a:hover, a:active, a:focus, a:visited{
			text-decoration: none;
			color: #fff;
			text-align: right;
			padding-right: 15px;
		}
	}
}

.next-page {
	display: none;
	cursor: pointer;
}

#slide-0 {
	.next-page {
		display: block;
	}
}

.wrap{
	height: 100%;
	width: 1028px;
	margin: 0 auto;
	position: relative;
}

.wrapper{
	padding-top: 120px; 
	height: 100%;
	width: 1028px;
	margin: 0 auto;

	.next_button{
		cursor: pointer;
		background: url('../../images/next_arrow.png') 0 0 no-repeat;
		width: 95px;
		height: 44px;
		display: none;
		text-indent: -9999px;
		position: absolute;
		right: 0px;
		bottom: 30px;
	}
	.next_button.five{
		display: block;
	}
}

.sidebar{
	width: 40%;
	z-index: 999;
}

p.heading{
	font-size: 34px;
	@include font-family-semibold;
	font-weight: $bold;
	padding-bottom: 12px;
}
p.description{
	font-size: 22px;
	font-weight: $semibold;
	line-height: 24px;
}

.wrapper.one{
    h1.tablet{
		display:none;
	}
	.sidebar {
		width: 185px;
		position: absolute;
		display: block;
		bottom: 30px;
		right: 0;
		height: 160px;

		.scroll_down{
			position: absolute;
			bottom: 0;
			background: url('../../images/arrow_first.png') 0 0 no-repeat;
			width: 178px;
			height: 44px;
		}
	}
}

section.travel .wrapper {
	.hand-phone {
		display: none;
		position: absolute;
		bottom: 0;
		left: 325px;
		width: auto;
	}

	.left{
		width: 50%;
		float:left;
		height: 100vh;
		position: relative;

		.sidebar {
			background: url('../../images/travel_icon.png') 0 0 no-repeat;
			padding: 5px 0 0 50px;
			height: 106px;
			position: absolute;
			top: 50%;
			margin-top: -53px;
			width: 377px;
		}
	}
	.right{
		width: 50%;
		float: left;
		height: 100vh;

		.iphone-wrapper {
			display: block;
		   	width: 390px; 
		   	height: 706px; 
		   	position: absolute;
		   	bottom: 0;

		   	img {
		   		position: absolute;
		   		top: 0;
		   		left: 0;
		   	}
		}
		.iphone-frame {
			position: relative;
			z-index: 10;
			width: 320px; 
			height: 516px; 
			border: 0px; 
			margin-top: 171px;
			margin-left: 36px;
		}
	}	
}

.wrapper.six{

	.login_bottom{
		width: 225px;
		margin: 20px auto 0;
		
		.btn.btn-green{
			width: 100%;
			height: 40px;
			padding: 9px 15px;
		}
	}
	.breakpoints{
		position: relative;
		width: 1028px;
	
		.devices.small {
			display: none;
			height: 300px;
			margin: 0 auto;

			.desktop {
				img {
					width: 357px;
					height: 274px;
				}
			}
			.tablet {
				img {
					width: 145px;
					height: 188px;
				}
			}
			.phone {
				img {
					width: 65px;
					height: 120px;
				}
			}
		}				

		.devices.desktop {
			width: 100%;
			display: block;
			position: absolute;
			top: 50%;
			height: 595px;

			img {
				width: auto;
				max-width: 100%;
			}
		}

		.devices {
			.desktop{
				z-index: 100;
				position: absolute;
				bottom: 0;
			}
			.tablet{			
				z-index: 101;
				position: absolute;
				bottom: 0;
			}
			.phone{
				z-index: 102;
				position: absolute;
				bottom: 0;
			}
		}
	}
}

.text-touts {
	margin: auto;
	width: 400px;

	position: absolute;
	bottom: 560px;
	right: 0;
}
.text-touts .slide {
	margin-top: 124px;
	width: 360px;
	position: absolute;
	opacity: 0;
	color: #fff;
}
.text-touts .slide .tout {
	padding: 2px 0 0 50px;
}
.text-touts .slide-2 .tout {
	background: url('../../images/acct_icon.png') 0 0 no-repeat;
}
.text-touts .slide-3 .tout {
	background: url('../../images/earning_icon.png') 0 0 no-repeat;
}
.text-touts .slide-4 .tout {
	background: url('../../images/earning_icon.png') 0 0 no-repeat;
}
.text-touts .slide-5 .tout {
	background: url('../../images/faves_icon.png') 0 0 no-repeat;
}
.text-touts .slide-6,
.text-touts .slide-7 {
	.tout {
		background: url('../../images/travel_icon.png') 0 0 no-repeat;
	}
}

/* 	Even though the HTML5 video is the correct dimensions, IE
	displays a border, this line sits on top of the border so it 
	doesn't show and the video dimensions remain correct. */
.border-blocker {
	position: absolute;
	height: 585px;
	width: 1px;
	top: 16px;
	right: 115px;
	background: #f4f3f4;
	z-index: 10;
}

.ie8 {
	section.wood, 
	section.travel {
		display: none;
	}
	section.blue {
		background: #004b8e;
		top: 0;

		.unsupported-msg {
	    	display: block;	
		}
		.default-msg {
			display: none;
		}
	}
	nav#primary {
		display: none;
	}

	.devices.desktop {
		display: none !important;
	}
	.devices.small {
		display: block !important;
	}
	.breakpoints {
		position: relative;
		left: 200px;
		
		.devices.small {
			.desktop {
				left: 80px;
			}
			.tablet {
				left: 350px;
			}
			.phone {
				left: 475px;
			}
		}
	}
}

@media screen and (max-width: 1500px) {
	section.wood {
		.wood-elements-wrap {
			max-width: 1000px;
		}
		.wood_elements {
			right: -250px;
		}	
	}
}

@media screen and (max-height: 800px) {
	section.wood {
		.wood_elements {
			top: 20px;
		}	
	}
}

/* 
	-----------------------------  
	short screens (ie laptops) 
	----------------------------- 
*/

@media screen and (min-height: 629px) and (max-height: 880px) {
	.wrapper{
		padding-top: 12%;
	}
	h1{
		font-size: 40px;
		line-height: 1em;
	}
	p.subtext{
		font-size: 18px;
		padding-top: 5px;
	}
	section.wood {
		#slide-0 {
			.video_holder{
				bottom: -135px;
			}	
		}
	}
	.wrapper.five{
		.right{
			top: 90px;
		}
	}
}

@media screen and (min-height: 550px) and (max-height: 790px) {
	.wrapper{
		padding-top: 95px;
	}
	h1{
		font-size: 40px;
		line-height: 1em;
	}
	p.subtext{
		font-size: 18px;
		padding-top: 5px;
	}

	section.wood {
		.placeholder{
			top: 200px;
		}
		#slide-0 {
			.video_holder{
				bottom: -175px;
			}	
		}
	}
}

@media screen and (min-width: 1080px) and (min-height: 550px) and (max-height: 671px) {
	
	.wrapper{
		padding-top: 70px;
	}

	h1 {
		font-size: 40px;
		line-height: 1em;
	}

	p.subtext {
		font-size: 18px;
		padding-top: 5px;
	}

	section.wood {
		.placeholder{
			top: 200px;
		}
		#slide-0 {
			.video_holder{
				bottom: -175px;
			}	
		}
	}

	.wrapper.five{
		.right{
			top: 90px;
		}
	}	

	nav#primary{
		top: 310px;
		margin-top: 0;
	}
}	

@media (min-width: 0) and (max-width: 1024px) {
	.wrapper.six .breakpoints {
		width: 650px;
		margin: auto;
	}
	.devices.desktop {
		display: none !important;
	}
	.devices.small {
		display: block !important;
	}
}

@media (min-height: 0) and (max-height: 950px) {
	.wrapper.six .breakpoints {
		width: 650px;
		margin: auto;
	}
	.devices.desktop {
		display: none !important;
	}
	.devices.small {
		display: block !important;
	}
}

/* 
	-----------------------------  
	@medium screen  col width 
	----------------------------- 
*/
@include at-breakpoint($medium-screen) {
	
	header{
		.inner{
			width: 660px;
		}
	}

	section.wood {
		.placeholder{
	    	.screenshot{
	    		margin-left: -90px;
	    	}
	    }
	    video{
	    	background: transparent !important;
	    }
	}

	.text-touts {
		position: static;

		.slide {
			width: 400px;
		}
	}

	.wrapper{
		.next_button {
			background: url('../../images/next-arrow-stacked.png') 0 0 no-repeat;
			width: 42px;
			height: 72px;
			right: -20px;
		}
	}

	section.wood {
		min-height: 100%;
		background: url('../../images/tablet/wood_bg.jpg') 0 0 no-repeat; 

		#slide-0, #slide-1, #slide-2, #slide-3, #slide-4, #slide-5, #slide-6, #slide-7 {
			.video_holder {
				margin-left: -375px;
			}
		}
	}
	section.travel {
		background-image: url("../../images/tablet/travel_bg.jpg");
		top: 100%;
		background-repeat: no-repeat;
	    background-position: center top;
	    background-size: cover;
	}

	.wrapper{
		padding-top: 120px; 
		width: 100%;
	}
	.wrap{
		width: 660px;
	}
	.sidebar{
		width: 260px;

		p.heading{
			font-size: 32px;
			font-weight: regular;
		}
		p.description{
			font-size: 20px;
			line-height: 22px;
			padding-right: 20px;
		}
	}

	section.wood {
		.wrapper {
			.sidebar {
				left: 80%;
			}
		}	
	}
	
	.wrapper.one{
		width: 660px;
		text-align: center;

		h1.desktop{
			display:none;
		}
		h1.tablet{
			display:block;
			line-height: 42px;
		}
		.sidebar {
			right: 0;
		}
	}

	.wrapper.five{
		position: fixed;
		bottom: 0;
		overflow: auto;
		overflow-x: hidden;

		.hand-phone {
			display: block !important;
		}
		.content_container{
			width: 660px;
			position: fixed;
			left: 50%;
			margin-left: -330px;

			.left{
				width: 260px;
				float: left;
				height: 560px;

				.sidebar {
					padding: 50px 0 0;
					height: 390px;
					top: 295px;
					position: relative;
					width: 260px;
				}
			}
			.right{
				width: 398px;
				float: left;
				height: 100vh;
				position: relative;

				.iphone-wrapper {
					display: block;
					width: 388px; 
				   	height: 868px; 		   
				   	position: absolute;
				   	bottom: 0;

				   	img {
				   		display: none;
				   	}
				}
				.iphone-frame {
					display: none;
				}
			}
		}
	}

	.wrapper.six{
		width: 660px;

		h1{
			font-size: 34px;
			line-height: 36px;
		}
		.login_bottom{
			width: 225px;
			margin: 20px auto 0;
			
			.btn.btn-green{
				width: 100%;
				height: 40px;
				padding: 9px 15px;
			}
		}
		.breakpoints{
			position: relative;
			width: 768px;
		}
	}

	nav#primary {
		display: none;
	}

	.wrapper .next_button.five {
		right: 5%;		
	}

	section.wood {
		.wrapper.one{
			.sidebar {
				width: 91px;
				height: 116px;
				position: absolute;
				left: auto;
				right: -42px;

				.scroll_down{
					background: url('../../images/arrow_first-stacked.png') 0 0 no-repeat;
					width: 91px;
					height: 116px;
				}
			}
		}
	}
}

/**
 * Very short screen
 */ 
@media (min-height: 0px) and (max-height: 750px) and (min-width: 0px) and (max-width: 1023px) {
	.wrapper.five {
		overflow: hidden;

		.hand-phone {
			margin-bottom: -200px;
		}
	}
}
@media (min-height: 0px) and (max-height: 649px) and (min-width: 0px) and (max-width: 1023px) {
	section.wood {
		#slide-0 {
			.video_holder {
				margin-bottom: -200px;
			}		
		}

		.video_holder {
			margin-bottom: -300px;
		}	
	}
}

@media (min-height: 650px) and (max-height: 749px) and (min-width: 0px) and (max-width: 1023px) {
	section.wood {
		#slide-0 {
			.video_holder {
				margin-bottom: -150px;
			}		
		}

		.video_holder {
			margin-bottom: -250px;
		}	
	}
}

@media (min-height: 750px) and (max-height: 850px) and (min-width: 0px) and (max-width: 1023px) {
	section.wood {
		#slide-0 {
			.video_holder {
				margin-bottom: -50px;
			}		
		}

		.video_holder {
			margin-bottom: -150px;
		}	
	}
}

/**
 * Tablet - Landscape
 */ 

@media screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) { 

	section.wood {
		background: url('../../images/tablet/wood_bg.jpg') 0 0 no-repeat; 
	}
	.wrapper {
		width: 100%;
	}
	.wrap {
		width: 95%;
	}
	.wrapper.five{
		position: fixed;
		overflow: auto;

		.hand-phone {
			display: block !important;
			bottom: -220px !important;
		}

		.next_button {
			left: auto;
			right: 20px;
		}

		.content_container{
			width: 95%;
			position: fixed;
			left: 50%;
			margin-left: -400px;

			
			.left{
				width: 260px;
				float: left;
				height: 560px;

				.sidebar {
					padding: 50px 0 0;
					height: 390px;
					top: 205px;
					position: relative;
					width: 260px;
				}
			}
			.right {
				width: 398px;
				float: left;
				height: 100vh;
				position: relative;

				.iphone-wrapper{
					display: block;
					width: 388px; 
				   	height: 868px; 		   
				   	position: absolute;
				   	bottom: 0;

				   	img {
				   		display: none;
				   	}
				}

				.iphone-frame {
					display: none;
				}
			}
		}
	}
}

/**
 * Mobile
 */ 

@include at-breakpoint($small-screen) {
	header {
		width: 100vw;
	}
	section {
		height: 100vh;
		width: 100vw;
	}
	.wrapper {
		width: 100vw;
	}
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
    header {
		.inner {
			.logo {
				background: url('../../images/logo@2x.png') 0 0 no-repeat;
				background-size: 143px 27px;
			}
		}
	}
}