// main scss file

@import 'global';

main {
  background: linear-gradient(0deg, rgba(4, 11, 41, 1) 0%, rgba(4, 23, 70, 1) 40%, rgba(243, 77, 195, 1) 100%);
  min-height: 100vh;
}

.content-wrapper {
  display: grid;
  grid-template-columns: 80rem;
  place-content: center;
}

header {
  display: grid;
  padding-bottom: 3rem;
}

.code-font {
  font-size: 1.6rem;
  margin-block: 2.4rem 0.4rem;
}

.name {
  font-size: 4.8rem;
  font-weight: 700;
  margin-block: 0 2rem;
}

.subtitle {
  font-size: 2rem;
  font-weight: normal;
  line-height: 1.2;
  margin-block: 0;
}

.skills-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 8rem;

  ul {
    margin: 0;
    padding-inline: 0;

    li {
      list-style: none;
      padding-bottom: 0.4rem;

      ul {
        margin: 0.4rem 0 0 2rem;
      }
    }
  }
}
