// main scss file

@import 'global';

.code-font {
  font-size: 1.6rem;
  margin-block: 2.4rem 0.4rem;
}

.name {
  font-size: 4.8rem;
  font-weight: 700;
  margin-block: 0 2rem;
}

.subtitle {
  font-size: 2rem;
  font-weight: normal;
  line-height: 1.2;
  margin-block: 0 4rem;
}
